doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title Iniciar Sesión
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body.bg-dark
      .container
         .card.card-login.mx-auto.mt-5
            .card-header Iniciar Sesión
            .card-body
               #aviso   
               form(id='formLogin' method='post' action='/cuenta/login')
                  .form-group
                     label(for='correo') Correo Electrónico
                     input.form-control(id='correo' name='correo' type='email', aria-describedby='emailHelp', placeholder='Correo Electronico')
                  .form-group
                     label(for='password') Contraseña
                     input.form-control(id='password' name='password' type='password', placeholder='Contraseña')
                  input.btn.btn-primary.btn-block(type='submit' value='Iniciar Sesión')
               .text-center
                  a.d-block.small.mt-3(href='/cuenta/registrar') Registrar
                  a.d-block.small(href='/cuenta/olvidar-contrasena') ¿Olvidaste tu contraseña?
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Core plugin JavaScript
      script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
      script(src='/public/js/avisos/cuenta/login.js')