doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      title Registro
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body.bg-dark
      .container
         .card.card-register.mx-auto.mt-5
            .card-header Registrarse
            .card-body
               #aviso
               form#formNew(method='post' action='/cuenta/registrar')
                  .form-group
                     .form-row
                        .col-md-6
                           label(for='nombre') Nombre(s)
                           input#nombre.form-control(name='nombre' type='text', aria-describedby='nameHelp', placeholder='Nombres')
                        .col-md-6
                           label(for='apellido') Apellidos
                           input#apellido.form-control(name='apellido' type='text', aria-describedby='nameHelp', placeholder='Apellidos')
                  .form-group
                     label(for='correo') Correo Electronico
                     input#correo.form-control(name='correo' type='email', aria-describedby='emailHelp', placeholder='Correo Electronico')
                  .form-group
                     .form-row
                        .col-md-6
                           label(for='password') Contraseña
                           input#pass.form-control(name='password' type='password', placeholder='Contraseña')
                        .col-md-6
                           label(for='password_confirm') Confirmar contraseña
                           input#pass2.form-control(name='password_confirm' type='password', placeholder='Confirmar contraseña')
                  .form-group
                     select.form-control#seleccion(required='' name='institucion')
                        option(value='', disabled='', selected='', hidden='') Seleccione una Institución
                        option(value='4') Universidad de Sonora
                        option(value='5') Otra Institución
            
                  #div_5.form-group.contenido
                     input.form-control(name='institucion2' type='text', placeholder='Institucion')
                  .form-group
                     select#ocupacion.form-control(required='' name='tipo')
                        option(value='', disabled='', selected='', hidden='') Seleccione una Ocupación
                        option(value='0') Alumno
                        option(value='1') Profesor  
                  .form-group
                     label(for='expediente') Expediente o número de empleado
                     input#exp.form-control(name='expediente' type='text', aria-describedby='nameHelp', placeholder='Expediente')      
                  input.btn.btn-primary.btn-block(type='submit' value='Registrar')
               .text-center
                  a.d-block.small.mt-3(href='/cuenta/login') Iniciar Sesión
      // registro modal
      #registroModal.modal(tabindex='-1', role='dialog')
         .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5.modal-title Registro
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               .modal-body
                  p Para completar el registro, se enviara un codigo de verificacion a su correo.
               .modal-footer
                  a.btn.btn-primary(href='/cuenta/login') Aceptar
                  //a.btn.btn-secondary(href='/cuenta/login') Cerrar
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Core plugin JavaScript
      script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
      script(src='/public/js/avisos/cuenta/registro.js')
      script(language='javascript', type='text/javascript').
            $(document).ready(function(){
                  $(".contenido").hide();
                  $("#seleccion").change(function(){
                        $(".contenido").hide();
                        $("#div_" + $(this).val()).show();
                  });
            });
