doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      title Verificar Correo
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body.bg-dark
      .container
         .card.card-login.mx-auto.mt-5
            .card-header  Verificar Correo
            .card-body
               #aviso
               form#formValid(method='post' action='/cuenta/verificar-correo/'+idUsuario+'')
                  .form-group
                     h1 Verificar Correo
                     p Introduzca el codigo de verificación que se envio a su correo.
                  .form-group
                     input#codigo.form-control(name='codigoVerificacion' type='text' placeholder='Codigo de Verificación')
                  input.btn.btn-primary.btn-block(type='submit' value='Completar Registro')
      // registro modal
      #verificarModal.modal(tabindex='-1', role='dialog')
         .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5.modal-title Codigo de verificación
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               .modal-body
                  p Codigo de verificación correcto.
               .modal-footer
                  a.btn.btn-primary(href='/cuenta/login') Aceptar
                  //a.btn.btn-secondary(href='/cuenta/login') Cerrar
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Core plugin JavaScript
      script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
      script(src='/public/js/avisos/cuenta/verificar.js')